langchain~=0.1.11
langchain_openai
langchain-experimental~=0.0.53
langchainhub
python-dotenv~=1.0.1
pinecone-client
astrapy~=0.7.3
upstash-redis
openai~=1.11.1
pypdf
tiktoken>=0.6.0
chromadb-client
sentence-transformers
cramjam
pandas~=2.1.4
Faker
sentence_transformers
tqdm
lark
ragas
datasets
pyarrow~=15.0.1
pyorc
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0